
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">        
      <h1 align="center"><strong>Pacientes</strong></h1>        
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Cadastrar Paciente', new_paciente_path, class: "btn btn-success btn-lg" %>      
      <form class="navbar-form navbar-right" role="search">
        <%= form_tag pacientes_path, :method => 'get', class: 'form-group' do%>
          <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: "Nome do paciente", autofocus: true%>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>
            Pesquisar
            </button>
        <%end%>
      </form>     
    </div>
  </div>

  <div class="row">   
    <div class="col-md-12"> 
    <table class="table table-condensed table-striped table-bordered">
      <thead>
        <tr>
          <th>Nome</th>      
          <th>Email</th>
          <th>Telefone</th>      
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @pacientes.each do |paciente| %>
          <tr>
            <td><%= paciente.nome %></td>      
            <td><%= paciente.email %></td>
            <td><%= paciente.telefone %></td>           
            <td align="center"><%= link_to 'Mostrar', paciente, class: "btn btn-primary" %> 
            <%= link_to 'Editar', edit_paciente_path(paciente), class: "btn btn-info" %> 
            <%= link_to 'Excluir', paciente, method: :delete, data: { confirm: 'Excluir paciente?' }, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>


