<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @paciente.nome %>
</p>

<p>
  <strong>Prontuario:</strong>
  <%= @paciente.prontuario %>
</p>

<p>
  <strong>Identidade:</strong>
  <%= @paciente.identidade %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @paciente.cpf %>
</p>

<p>
  <strong>Nascimento:</strong>
  <%= @paciente.nascimento %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @paciente.idade %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @paciente.sexo %>
</p>

<p>
  <strong>Email:</strong>
  <%= @paciente.email %>
</p>

<p>
  <strong>Telefone:</strong>
  <%= @paciente.telefone %>
</p>

<p>
  <strong>Ans:</strong>
  <%= @paciente.ans %>
</p>

<p>
  <strong>Operadora:</strong>
  <%= @paciente.operadora %>
</p>

<p>
  <strong>Plano:</strong>
  <%= @paciente.plano %>
</p>

<p>
  <strong>Cartao:</strong>
  <%= @paciente.cartao %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @paciente.usuario %>
</p>

<p>
  <strong>Titular:</strong>
  <%= @paciente.titular %>
</p>

<p>
  <strong>Observacao:</strong>
  <%= @paciente.observacao %>
</p>

<%= link_to 'Edit', edit_paciente_path(@paciente) %> |
<%= link_to 'Back', pacientes_path %>
