<%= form_for(agendamento) do |f| %>
  <% if agendamento.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agendamento.errors.count, "error") %> prohibited this agendamento from being saved:</h2>

      <ul>
      <% agendamento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="container-fluid">
  <div class="col-md-12">
    <div class="col-md-8">
      <div class="form-group">
        <%= f.label :paciente %>
        <%= f.text_field :nome, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :atendente %>
        <%= f.text_field :atendente, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :preço %>
        <%= f.text_field :preco, class: "form-control", placeholder: "Ex: R$50,00 " %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :data_horário, "Data/Horário" %>
        <%= f.datetime_select :hora, {:order => [:day, :month, :year, :hour, :minute], :use_month_names => ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"]}, class: "form-control"%>
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label :anotação %>
    <%= f.text_area :anotacao, class: "form-control" %>
  </div>
  </div>

  <div class="actions">
    <%= f.submit "Agendar", class: "btn btn-success" %>
  </div>
<% end %>
