

  <div class="row">
  <div class="container-fluid">
   
      <div class="col-md-2">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Hoje</h3>            
          </div>
          <div class="panel-body" id="tamanhodatapanel" align="center">
            <strong><%= Time.now.strftime("%d/%m/%Y %H:%M") %></strong>            
          </div>          
        </div>                          
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-4">     
        <h1 align="center"><span class="glyphicon glyphicon-calendar" style="color: #290A3A"> Agendamento</span></h1>        
      </div>
      <div class="col-md-4" align="right">
        <a href="#" data-toggle="tooltip" data-placement="right" title="Aqui são exibidos os agendamentos futuros e os das últimas 12 horas. Agendamentos além das 12 horas são apresentados no Histórico."><span class="glyphicon glyphicon-info-sign"></span></a>
      </div>
  
  </div>
  </div>


  <div class="row">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="col-md-4">
      <ul class="nav nav-tabs">
        <li class="active" id="tamanhotabs">
          <a href="/agendamentos">Agendamento</a>
        </li>
        <li id="tamanhotabs">
          <a href="historico/index">Histórico</a>
        </li>
      </ul>
      </div>
      <div class="col-md-4" align="center">
        <%= link_to new_agendamento_path, class: "btn btn-primary btn-lg" do %>
        <span class="glyphicon glyphicon-plus"> Agendamento</span>
        <%end%>
      </div>
      <div class="col-md-4">
        <form class="navbar-form navbar-right" role="search">
          <%= form_tag agendamentos_path, :method => 'get', class: 'form-group' do%>
            <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: "Nome do paciente", autofocus: true%>
              <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>
              Pesquisar
              </button>
          <%end%>
        </form>  
      </div>
      </div>  
    </div>
  </div>
  <br>


  

  <div class="row">   
  <div class="container-fluid">
    <div class="col-md-12"> 
    <table class="table table-condensed table-striped table-bordered">
      <thead>
        <tr>
          <th id="headdata"><span class="glyphicon glyphicon-sort-by-attributes"> Data</span></th>
          <th id="headhora">Hora</th>
          <th>Paciente</th>
          <th>Atendente</th>
          <th>Preço</th>          
          <th>Anotações</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @agendamentos.each do |agendamento| %>       
          <% if agendamentoNaoPassado(agendamento) %>
          
          <tr>

            <td id="data"><strong><%= agendamento.hora.strftime("%d/%m/%Y") %></strong></td>
            <td id="hora"><%= agendamento.hora.strftime("%H:%M") %></td>
            <td id="tamanhonome"><%= agendamento.nome %></td>      
            <td><%= agendamento.atendente %></td>
            <td>R$<%= agendamento.preco %></td>            
            <td><%= agendamento.anotacao %></td>           
            <td>           
              <%= link_to agendamento do%>
                   <span class="glyphicon glyphicon-eye-open" title="Mostrar"></span>
              <%end%>                 
              <%= link_to edit_agendamento_path(agendamento) do%>
                   <span class="glyphicon glyphicon-edit" title="Editar"></span>  
              <%end%>          
              <%= link_to agendamento, method: :delete, data: { confirm: 'Excluir agendamento?' } do%>
                <span class="glyphicon glyphicon-trash" title="Excluir"></span> 
              <%end%>
            
                                      
            </td>
          </tr>
          <%end%>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
    <div align="center">
      <%= will_paginate @agendamentos, renderer: BootstrapPagination::Rails, :previous_label => 'Anterior', :next_label => 'Próximo' %>
    </div>
  </div>
