<div class="panel-group">
  <div class="panel panel-primary">
    <div class="panel-heading">      
      <h3 align="center"><%= @agendamento.hora.strftime("%d/%m/%Y - %H:%M") %> <br> Paciente: <%= @agendamento.nome %></h3>      
    </div>
    <div class="panel-body">
      <div class="col-md-12" align="center">
        <p>
          <strong>Atendente:</strong>
          <%= @agendamento.atendente %>
        </p>
        <hr>
        <p>
          <strong>Preço:</strong>
          R$<%= @agendamento.preco %>
        </p>
        <hr>     
        <p>
          <strong>Anotações:</strong>
          <%= @agendamento.anotacao %>
        </p>

      </div>
    </div>
  </div>
</div>

<%= link_to 'Editar', edit_agendamento_path(@agendamento), class: "btn btn-info" %>
<%= link_to 'Voltar', agendamentos_path, class: "btn btn-default" %>

