<!DOCTYPE html>


<html>
  <head>
    <title>Unic</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  
  <div class="row">
    <div class="col-md-12">

      <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <div class = "col-md-12">
        <div class="col-md-2">
          
          <div class = "navbar-header">           
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
             <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button> <a class="navbar-brand" href="/"><%=image_tag("logo1.png", width: "50px", height: "40px")%></a>
          </div>
        
        </div>
        <div class="col-md-8">
        
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="/pacientes" style="color: black"><strong>Pacientes</strong></a>
            </li>
            <li>
              <a href="#" style="color: black"><strong>Agendamento</strong></a>
            </li>
             <li>
              <a href="#" style="color: black"><strong>Finanças</strong></a>
            </li>
             <li>
              <a href="#" style="color: black"><strong>Estoque</strong></a>
            </li>
            
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" />
              </div> 
            <button type="submit" class="btn btn-default">
              Pesquisar
            </button>
          </form>

          
          <%if user_signed_in?%>         
                <li>              
                  <%= link_to 'Sair', destroy_user_session_path, method: :delete, data: { confirm: 'Tem certeza?' } %>
                </li>
          <%end%>
          </ul>            
          
        </div>
        </div>
        <div class="col-md-2">          
        </div>
        </div>  
      </nav>      
      
    </div>
  </div>

 
	  <%= bootstrap_flash %>
    <div class="container">
    <%= yield %>
    </div>
    <div class="footer" align="center">
        <p>&copy; Unic 2017, Riomar Trade Center, Torre A, Sala 808, Pina. F: (81) 3204-3610</p>
    </div>
  </body>
</html>
