<!DOCTYPE html>


<html>
  <head>
    <title>Unic</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>   
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    
  </head>

  <body>

  <nav class="w3-sidenav w3-card-12 w3-light-grey" style="width: 9%">
    <div class="w3-padding-small w3-padding-16">
        <%=image_tag("logooriginal.png", width: "150px", height: "130px")%>
    </div>            
     
    <br><br>

    <a class="w3-large" href="/"><span class="glyphicon glyphicon-home"> Início</span></a>

    <a class="w3-large" href="/pacientes"><span class="glyphicon glyphicon-user"> Pacientes</span></a>
     
    <a class="w3-large" href="/agendamentos"><span class="glyphicon glyphicon-calendar"> Agendamento</span></a>
     
    <a class="w3-large" href="#"><span class="glyphicon glyphicon-usd"> Finanças</span></a>

    <a class="w3-large" href="/estoques"><span class="glyphicon glyphicon-briefcase"> Estoque</span></a>
    <br><br><br><br><br><br><br><br>  
    
    
    <%if user_signed_in?%>
    <a href="/users/edit"><span class="glyphicon glyphicon-envelope"> <%= current_user.email %></span></a>
    
    <%= link_to destroy_user_session_path, method: :delete, data: { confirm: 'Tem certeza?' } do%>
        <span class="glyphicon glyphicon-log-out"> Sair</span>
        <%end%>            
    <%end%>
   
    <br><br><br>
    
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
    
  </nav>

	  
    <div style="margin-left: 9%">
    
    <div class="container">
    <br>

    <%if permited_access %>
    <%= yield %>
    <%elsif user_signed_in? == false%>
    <%= yield%>
    <%end%>
    </div>
    </div>
    <div class="footer" align="center" style="margin-left: 9%">
        <%=image_tag("logo.png", width: "130px", height: "40px")%>&copy; Riomar Trade Center, Torre A, Sala 808, Pina. F: (81) 3204-3610
    </div>
  </body>
</html>
